<%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { class: "form-signin"}) do |f| %>
<h2 class="form-signin-heading">Sign Up</h2>
  <%= devise_error_messages! %>	
	<div>		
  		<%= f.text_field :name, autofocus: true,:placeholder=>"Name",class: "input-block-level",required: true  %>
  	</div>
  
	<div>		
		<%= f.email_field :email,:placeholder=>"Email",class: "input-block-level" ,required: true %>
	</div>

	<div>		
	    <%= f.password_field :password, autocomplete: "off",:placeholder=>"Password",class: "input-block-level" ,required: true %>
	</div>

	<div>		
	    <%= f.password_field :password_confirmation, autocomplete: "off",:placeholder=>"Confirm Password",class: "input-block-level" ,required: true %>
	</div>

	<div><%= f.submit "Sign up",class: "btn btn-large btn-primary butn" %></div>
<% end %>

<%#= render "devise/shared/links" %>

